<style>
    .card {
        border-radius: 0;
    }
    .card-img, .card-img-top {
        border-radius: 0;
    }

    .card-footer {
        padding: .5rem 1rem;
        background-color: rgba(0, 0, 0, .03);
        border-top: 1px solid rgba(0, 0, 0, .125);
    }

    .card-footer:last-child {
        border-radius: 0;
    }
</style>

<div class="col-md-2">
    <div class="card">
        <img src="{{ row.poster.url }}" class="card-img-top" alt="..." style="margin: 0 0;">
        <div class="card-body">
            <h5 class="card-title">{{ row.name }}</h5>
            <p class="card-text">{{ row.detail }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
